
body {
  background-color: azure;
  font-family: "Hoefler Text", "Georgia", "Century Gothic", sans-serif;
  margin: 0px;
  background-image: url("tornpage.jpg");
  background-position: top;


}

header {
/*  background-color: antiquewhite; */
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
/*  background-image: url("tornpage_bg.jpg");*/
  background-position: bottom;
  height: 200px;
}

header p {
width: 80%;
margin: auto;
font-size: 1.25em;
}

h1 {
  text-align: center;
  /* background-color: antiquewhite; */
  /* margin-bottom: 1em; */
  margin-top: 0em;
  padding-top: .5em;
  font-family: "Hoefler Text", "Georgia", "Century Gothic", sans-serif;
  text-transform: capitalize;
  color: brown;

  /* border-bottom: 1.5px solid brown; */
}

h2 {
  font-family: "Courier New", monospace;
  text-transform: lowercase;
  color: brown;
  border-top: 1px solid brown;
  padding-top: .25em;
}

article:first-child h2 {
  border-top: 0px;
}

section{
  opacity: 0.9;
  background-color: white;
  width : 40%;
  padding-left: 1.25%;
  padding-right: 1.25%;
  padding-bottom: 1.5em;
  float: left;
  /* display: inline-block; */
  border: 1px solid brown;
  margin-bottom: 2em;
  border-radius: .5em;
}
.column-1 {
  margin-left: 5%;
  margin-right: 4%;
  }

.column-2 {
  /* margin-left: 10%; */
  margin-right: 5%;
}

footer {
  clear: both;
  margin-top: 2em;
  color: antiquewhite;
  margin-bottom: 1em;
}